# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [4]:
data.shape

(33702, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
data['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
data['Department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [8]:
import scipy.stats
from scipy.stats import ttest_1samp

In [9]:
data_hourly =data.dropna(subset=['Hourly Rate'])
data_hourly.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98

In [10]:
lst_hourly = data_hourly['Hourly Rate'].values.tolist()

In [11]:
stat, pval = ttest_1samp(lst_hourly, 30)

In [12]:
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [13]:
# the pvalue is very low, Ho gotta go. The hourly rate is significantly different from $30/h

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [14]:
data_police = data.loc[data["Department"] == 'POLICE']
data_police.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

In [15]:
data_police['Annual Salary'].isnull().sum()

24

In [16]:
# only 24 Nan in 13848 row, i am going to drop the Nans

In [17]:
data_police =data.dropna(subset=['Annual Salary'])

In [18]:
lst_police = data_police['Annual Salary'].values.tolist()

In [19]:
stat, pval = ttest_1samp(lst_police, 86000)
print('pvalue for the one-tailed test is ', pval/2)
print('stat is', stat)

pvalue for the one-tailed test is  1.1882570425863358e-117
stat is 23.149576589194083

In [20]:
#  again a very low value for p, we are going to reject the =. The stat is positive so we reject the <

Using the `crosstab` function, find the department that has the most hourly workers.

In [21]:
data_crosstab = pd.crosstab(data_hourly['Department'], data_hourly['Hourly Rate'], margins=True)

In [22]:
data_crosstab  
# Streets&San has the most hourly workers

Hourly Rate,2.65,8.25,9.74,10.0,10.5,12.0,13.0,13.4,13.45,13.94,...,53.4,53.91,54.05,54.1,55.1,57.04,58.4,61.65,128.0,All
Department,,,,,,,,,,,,,,,,,,,,,
ANIMAL CONTRL,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
AVIATION,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,12,0,0,0,1214
BUDGET & MGMT,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,2
BUSINESS AFFAIRS,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,7
CITY COUNCIL,0,4,0,2,1,5,5,0,1,0,...,0,0,0,0,0,0,0,0,0,74
CULTURAL AFFAIRS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
DAIS,0,0,0,0,0,0,0,0,0,0,...,0,0,1,24,4,10,0,0,0,745
DISABILITIES,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
FAMILY & SUPPORT,260,0,0,0,0,0,41,0,0,0,...,0,0,0,0,0,0,0,0,0,357
FINANCE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45
HEALTH,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
HOUSING & ECON DEV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
LAW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,48
MAYOR'S OFFICE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
OEMC,0,0,0,0,0,0,0,0,0,49,...,0,0,0,0,0,0,0,0,0,1077
POLICE,0,0,2,0,0,11,11,0,0,0,...,0,0,0,0,0,0,0,0,0,24
PROCUREMENT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
PUBLIC LIBRARY,0,0,0,0,0,0,0,107,0,0,...,0,0,0,0,0,0,0,0,0,356
PUBLIC SAFETY ADMIN,0,0,0,0,0,0,0,0,0,0,...,9,0,0,0,0,0,0,0,0,48
STREETS & SAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,1846
TRANSPORTN,0,0,0,0,0,0,0,0,0,0,...,39,0,1,0,1,0,10,0,0,726
WATER MGMNT,0,0,0,0,0,0,0,0,0,0,...,0,1,28,0,4,46,0,0,0,1558
All,260,4,2,2,1,16,62,107,1,49,...,48,1,30,24,12,68,10,1,1,8174

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [23]:
data_streets = data.loc[data["Department"] == 'STREETS & SAN']

In [24]:
data_streets.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
26,"AGUILAR, EFRAIN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
49,"ABDUL-SHAKUR, TAHIR J",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,29.96
65,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45

In [25]:
data_streets['Hourly Rate'].isnull().sum()

329

In [26]:
mean_streets = data_streets['Hourly Rate'].mean()

In [27]:
mean_streets

35.55229685807151

In [28]:
data_streets['Hourly Rate'] = data_streets['Hourly Rate'].fillna(mean_streets)

C:\Users\sorig\AppData\Local\Temp\ipykernel_11064\3075045906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_streets['Hourly Rate'] = data_streets['Hourly Rate'].fillna(mean_streets)

In [29]:
data_streets['Hourly Rate'].isnull().sum()

0

In [30]:
list_streets = data_streets['Hourly Rate'].values.tolist()

In [ ]:
# trying to see how the confidence_interval works here

In [34]:
confidence_level = 0.95

degrees_freedom = len(list_streets) - 1  
sample_mean = np.mean(list_streets)
sample_standard_error = scipy.stats.sem(list_streets)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [35]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (35.322501055471115, 35.7820926606719) .

In [36]:
# hypothesis test

In [38]:
stat, pval = ttest_1samp(list_streets, 35)
print('pvalue for the one-tailed test is ', pval/2)
print('stat value is ', stat)

pvalue for the one-tailed test is  1.2961330067267749e-06
stat value is  4.713249481725159

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [40]:
confidence_level = 0.95

degrees_freedom = len(lst_hourly) - 1  
sample_mean = np.mean(lst_hourly)

sample_standard_error = scipy.stats.sem(lst_hourly) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [41]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [42]:
confidence_level = 0.95

degrees_freedom = len(lst_police) - 1  
sample_mean = np.mean(lst_police)
sample_standard_error = scipy.stats.sem(lst_police) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88802.55516222387, 89321.0348377761) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: